.add-form {
    margin-left: 35%;
    margin-top: 150px;
    width: 30%;
}

.add-form h1, h2 {
    color: #1d1d24;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.add-form h1 {
    font-weight: 600;
    font-size: 30px;
}

.add-form h2 {
    font-weight: 300;
    font-size: 16px;
    padding-top: 20px;
}

.add-form input, textarea {
    resize: none;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border:solid rgb(187, 186, 186) 1px;
    outline:none;
    color: #1d1d24;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.add-form input {
    font-size:30px;
    padding-left: 10px;
}

.add-form textarea {
    height: 250px;
}

.add-form button, label {
    height:50px;
    border-radius: 5px;
    border: solid black 0px;
    font-weight: 100;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.button-photo {
    width: 85px;
    float: left;
    background-color: #b2b2b2;
}

.button-cancel {
    width: 140px;
    float: right;
    margin-right:20px;
    background-color: #b2b2b2;
}

.button-submit {
    background-color: #ff4a33;
    width: 140px;
    float: right;
}

.add-form img {
    height: 45px;
    padding-left: 17px;
    padding-top: 3px;
}

input[type="file"] {
    display: none;
}