.display-articlee {
    margin-left: 25%;
    margin-top: 75px;
    width: 50%;
}

.display-articlee h1, h2 {
    color: #27272b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-articlee h1 {
    font-weight: 400;
    font-size: 30px;
}

.display-articlee-pic {
    width: 100%;
    border-radius: 15px;
}

.display-articlee-send-comment-pic {
    width: 100%;
}

.display-articlee-comments {
    margin-top:25px;
    overflow: hidden;
    margin-bottom: 50px;
}

.display-articlee-comment {
    float: left;
    width: 85%;
    margin-left: 15px;
    color: #27272b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-articlee-comment h3 {
    margin-top: -5px;
}

.display-articlee-comment h5 {
    margin-top: -22px;
    font-weight: 100;
}

.display-articlee-comment h4 {
    margin-top: -22px;
    font-weight: 450;
}



.text-content {
    color: #27272b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    width: 100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.user-pic {
    height: 50px;
    width: 65px;
    padding-bottom: 10px;
    border-radius:50%;
    border:solid #4d4c4c 1px;
    background-color:#fd8469;
    text-align: center;
    font-size: 17px;
}

.user-pic img{
    width: 50px;

}

.add-comment-user-pic {
    float: left;
}

.show-comment-user-pic {
    float: left;
}

.add-comment-input {

    padding-top: 12px;
    resize: none;
    height: 50px;
    border-radius: 10px;
    border:solid rgb(187, 186, 186) 1px;
    outline:none;
    color: #1d1d24;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:25px;
    float: left;
}

.add-comment-input-name {
    margin-left: 25px;
    width: 25%;
    text-align: center;
}

.add-comment-input-text {
    padding-left: 15px;
    margin-top: 25px;
    width: 88%;
}

.add-comment-button {
    background-color: #ff4a33;
    float: left;
    width: 65px;
    height: 65px;
    border: solid black 0px;
    border-radius: 10px;
    margin: 25px 0 0 20px;
}

.close {
    position: absolute;
    right: 25%;
    top: 50px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.home-img {
    height: 50px;
    margin-top: -50px;
}

.del-pic{
    float: left;
    height: 50px;
}