<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить новую статью</title>

    <link rel="stylesheet" type="text/css" th:href="@{http://__${#httpServletRequest.getServerName()}__:8080/css/add-article.css}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/js/addArticle.js}"></script>
</head>
<body>
<div class="add-form">
    <h1>Добавление статьи</h1>
    <h2>Заголовок</h2>

    <form action="/success" method="get" enctype="multipart/form-data">

            <input min="1" max="40"
                   type="text" name="articleTitle" th:required="required" />

        <h2>Описание</h2>
        <textarea name="articleText" cols="40" rows="5" th:required="required" />

        <h2>Прикрепить изображение</h2>

        <label class="button-photo">
            <input type="file" name="file" th:required="required"/>
            <img th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/images/cameraPic.png}"
                 alt="logo"/>
        </label>
        <button class="button-submit" type="submit">Добавить</button>
        <button class="button-cancel" type="button">Отмена</button>
    </form>
</div>
</body>
</html>
