<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{http://__${#httpServletRequest.getServerName()}__:8080/css/display.css}" />

    <script th:inline="javascript">
        /*<![CDATA[*/

        var message = /*[[${comments}]]*/ 'default';


        /*]]>*/
    </script>

    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
    <script th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/js/articleDisplay.js}"></script>

    <script type="text/babel">
        ReactDOM.render(React.createElement(
            'div',
            null,
            listItems
        ), document.getElementById('comments'));
    </script>
</head>
<body>
<div class="display-articlee">
    <a href="/"><img class="home-img" th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/images/Home.png}" /></a>
    <a th:href="@{http://__${#httpServletRequest.getServerName()}__:8080/del-article/__${article._id}__}"><span class="close"></span></a>
    <h1 th:text="${article.title}"></h1>
    <img class="display-articlee-pic"
         th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/images/__${article.imgName}__}" alt="content" />
    <pre th:text="${article.text}" class="text-content">
    </pre>
    <div style="overflow: hidden; margin-top: 100px">
        <div class="user-pic add-comment-user-pic">
            <img th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/images/User.png}" />
        </div>
        <form th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
            <textarea class="add-comment-input add-comment-input-name" name="authorName"
                      th:required="required" placeholder="Ваше имя"></textarea>
            <textarea class="add-comment-input add-comment-input-text" name="commentText"
                      th:required="required" placeholder="Ваш комментарий"></textarea>
            <button class="add-comment-button">
                <img class="display-articlee-send-comment-pic"
                     th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/images/sendIcon.png}" /></button>
        </form>
    </div>

    <div id="comments" class="display-articlee-comments">
    </div>
    
</div>
</body>
</html>