<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Все статьи</title>
    <style>

    </style>

    <link rel="stylesheet" type="text/css" th:href="@{http://__${#httpServletRequest.getServerName()}__:8080/css/index.css}" />

    <script th:inline="javascript">
        /*<![CDATA[*/

        var message = /*[[${json}]]*/ 'default';


        /*]]>*/
    </script>

    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
    <script th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/js/articles.js}"></script>

    <script type="text/babel">
        document.getElementById('numbers-of-articles').innerHTML = "Статьи, " + articles.length;

        ReactDOM.render(React.createElement(
            'div',
            null,
            listItems
        ), document.getElementById('articles'));
    </script>
</head>

<body>
<div>
    <div class="all-articles">
        <div>
            <div style="overflow: hidden;">
                <div class="logo">
                    <img th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/images/UnitBeanLogoBlack.png}"
                         class="logo-img" alt="logo"/>
                    <h1 class="logo-text">UnitBean</h1>
                </div>

                <p class="add-new-article" onclick="location.href='add'">
                    Добавить
                    <span style="margin-left: 7px">статью</span>
                </p>
            </div>

            <div id="numbers-of-articles" class="numbers-of-articles">
            </div>
        </div>


        <div id="articles" class="articles">

        </div>
    </div>
</div>

</body>
</html>