<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{http://__${#httpServletRequest.getServerName()}__:8080/css/success.css}" />

    <script type="text/javascript">

        function redict() {
            window.location.replace("./");
        }

        setTimeout(redict, 1000);
    </script>
</head>
<body>
    <div class="success-form">
        <img th:src="@{http://__${#httpServletRequest.getServerName()}__:8080/images/logoOrange.png}"
             alt="content"/>
        <h1>Поздравляем вас с успешным
        добавлением статьи в блог UnitBean!</h1>
    </div>
</body>
</html>