A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.all-articles {
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
}

.logo {
    width: 350px;
    margin: 0;
}

.logo-img {
    float: left;
    width: 80px;
    height: 53px;
    margin-top: 43px;
}

.logo-text {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
}

.add-new-article {
    height: 40px;
    width: 51px;
    float: right;
    margin-top: 50px;
    border-radius:50%;
    border:solid #fb2c10 2px;
    padding: 25px 25px 25px 10px;
    color:#fb2c10;
    text-align: center;
    font-size: 17px;
    transition: 1s;
    cursor: pointer;
}

.add-new-article:hover {
    border:solid white 2px;
    color:white;
    background-color: #fb2c10;
}

.numbers-of-articles {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: #1d1d24;
    font-size: 22px;
    margin-top: -60px;
}

.articles {
    margin-top: 70px;
}

.articles-line {
    overflow: hidden;
}

.article {
    float: left;
    height: 40%;
    margin: 0 45px 35px 0;
    width: 45%;
    border-radius:5%;
    border:solid gray 1px;
    text-align: center;
    font-size: 17px;
}

.article-content {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.article-content img {
    width: 100%;
    height: 150px;
}

.article-content h3, h4, h5 {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    color: #1d1d24;
}

.article-content h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 22px;
}

.article-content h5 {
    margin-top:-20px;
    font-weight: 100;
}

.article-content h4 {
    font-weight: 100;
}

.article-content hr {
    margin-top: -15px;
    margin-left: 10px;
}