.success-form {
    margin-left: 35%;
    margin-top: 300px;
    width: 30%;
}

.success-form img {
    margin-left: 28%;
}

.success-form h1 {
    text-align: center;
    color: #ff4a33;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px;
    font-weight:100;
}